body{
    text-align: center;
    margin: 0px;
    background-color: #293e51;
}

.btn{
  	font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    text-transform: uppercase;
    border: 1px solid;
}

#btn1{
	color: red;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid;
    border-color: red;

}
#btn2{
    border-radius: 10px;
    background-color: #089760;

}

#btn3{
    border-radius: 7px;
    background-color: rgb(51, 183, 235);
}

#btn4{
    border-radius: 6px;
    background-color: rgb(255, 217, 0);
}
#btn5{
    border-radius: 0px;
    background-color: transparent;
    color: purple;
    border-color: purple;
}

#btn6{
    border-radius: 100px;
    background-color: rgba(25, 199, 77, 0.781);
}
.btn:hover{
    border-width: 4px;
    border-style: solid;
}
#btn1:hover{
    border-color: rgb(225, 81, 0); 
    color: rgb(225, 81, 0) ;
    background-color:  #293e51;
} 
#btn2:hover{
    border-color: #089760;
    color: #089760;
    background-color: #293e51;
 
} 
#btn3:hover{
    border-color: rgb(51, 183, 235);
    color:  rgb(51, 183, 235);
    background-color: #293e51;  
} 
#btn4:hover{
    border-color:  rgb(255, 217, 0);
    color:  rgb(255, 217, 0);
    background-color: #293e51;
}
#btn5:hover{
    border-color: purple; 
    color: purple;
    background-color: #293e51;
}
#btn6:hover{
    border-color: rgba(25, 199, 77, 0.781); 
    color: rgba(25, 199, 77, 0.781);
    background-color: #293e51;
}
.container{
    background-color:  #293e51; 
    padding-top: 200px;
    padding-bottom: 50px;
}